/.PromoDSLDescriptionLabelProvider.java._trace
/.PromoDSLDescriptionLabelProvider.xtendbin
/.PromoDSLLabelProvider.java._trace
/.PromoDSLLabelProvider.xtendbin
/PromoDSLDescriptionLabelProvider.java
/PromoDSLLabelProvider.java
